// --------- Base constants.
// USE ONLY IT IN OTHER VARIABLES
// DO NOT USE IT IN STYLES!

fontSizeBig = 2.3em

textColor1 = #F5F5F5
textColor2 = #DDD
textColor3 = #CCC
textColor4 = #AAA
textColor5 = #888
textColor6 = #555

color1 = #091A20
color2 = #0C2129
color3 = #314147
empColor1 = #66FCF1
empColor2 = #FFE400
empColor3 = #f83660
empColor4 = #3500D3
empColor5 = #FF652F
empColor6 = #86C232

colorShadow = #00000044

clLinkButtons = #08a680
clLinkButtonsHover = #4aeec7
