body
    width 100%
    height 200vh
    margin 0
    // overflow hidden

.fullsize
    width 100%
    height 100%

linkButton
    text-decoration none
    color clPrimary
    transition all 0.3s ease
    cursor pointer
linkButton:hover
    color clHighlight
